.redone::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
    top: 2px;
    left: 15px;
    transform: translate(-50%, -50%);
}

.greenone::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #1DCC00;
    top: 2px;
    left: 15px;
    transform: translate(-50%, -50%);
}

.calenderletters {
    color: #B8B8B8;
    text-align: center;
    font-family: 'Satoshi';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.calendarnumber {
    text-align: center;
    font-family: 'Satoshi';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}